<%- include("partials/header")-%>

<h1>Compose</h1>
<div>
    <form action="" method="post">

        <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" name="titleContent">
            <label for="postInput">Post</label>
            <textarea class="form-control" name="postContent" id="postInput" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div>

<%- include("partials/footer")-%>